body {
    background: #192E40;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: yellow;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: rgb(0, 197, 255);
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: rgb(0, 197, 255);
}

#mainNavbar .nav-link:hover {
    color: white;
}

#mainNavbar .navbar-brand {
    color: yellow;
    font-size: 1.5rem;
}

#headingGroup span {
    color: yellow;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: black;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




